<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
</head>
<body>

<link rel="stylesheet" href="/static/backend/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/static/backend/css/basic.css">

<script type="text/javascript" src="/static/backend/bootstrap/js/jquery-1.10.1.js"></script>
<script type="text/javascript" src="/static/backend/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/backend/js/base.js"></script>

